<header class="main-header">
    <h1 class="main-header__title">
        <a id="title" href="produtos">
            <span class="main-header__title--cor1">Minha</span>
             <span class="main-header__title--cor2">Loja</span>
        </a>
    </h1>

    <div class="container-menu">
        <nav class="main-header__menu">
        <ul>
             <li>
                <a href="produtos">Produtos</a>
            </li>
            <li>
                <a href="carrinho">
                    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                    Carrinho
                    <span class="badge-carrinho">{{carrinhoService.obtemCarrinho().length}}</span>
                </a>
            </li>
            <li>
                <a href="contato">Contato</a>
            </li>
        </ul>


        <ul id="icon">
            <li>
                <a  href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a  href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
                <a chref="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>    
        </ul>

        </nav>
    <app-barra-pesquisa></app-barra-pesquisa>
    </div>
</header>
